@font-face
{
    f
}



body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
}

.main-menu {
    height: 100vh; 
    background-image: url("../game-menu/assets/Art.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
